<% if @user.books.count == 0 %>
  <%= "Your library is empty, add books here"%>
  <p><a href='/books/new'>Add New Book</a></p>
<% end %>

<% @user.books.all.each do |book| %>
  <ul>
    <li>
      Title: <a href="books/<%=book.id%>"><%= book.name %></a></br>
      Author: <a href="authors/<%=book.author.id%>"><%= book.author.name %></a></br>
      Subject(s):
    </li>
  </ul>
<% end %>

<p><a href='/home'>Home</a></p>
