<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<p>Current Book</p>
<p>Title: <%= @book.name %></p>

<% if @book.author == nil %>
    <p>Missing Author information, edit <a href="/books/<%=@book.id%>"><%=@book.name%></p></a>
  <% elsif @book.subjects == nil%>
    <p>Missing Subjects information, edit <a href="/books/<%=@book.id%>"><%=@book.name%></p></a>
  <%else%>
    Author:<a href="/authors/<%= @book.author.id%>"> <%= @book.author.name %> </a>
    <p>Subject(s):
    <% @book.subjects.each do |subject| %>
      <a href="/subjects/<%= subject.slug %>"><%= subject.name %></a>
    <% end %>
    </p>
  <% end %>

<br></br>
<p><a href="/books/<%=@book.id%>/edit">Edit Book </a></p>

<form method="post" action="/books/<%=@book.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Book">
</form>
</br>

<p><a href='/home'>Home</a></p>
