<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<p>Current Book</p>
<p>Title: <%= @book.name %></p>

<p>Author: <%= @book.author.name %> </a></p>

<p>Subject(s):
<% @book.subjects.each do |subject| %>
  <a href="/subjects/<%= subject.slug %>"><%= subject.name %></a>
<% end %>
</p>

<br></br>
<p><a href='/books/:slug/edit'>Edit Book</a></p>

<form method="post" action="/books/<%=@book.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Book">
</form>
</br>

<p><a href='/home'>Home</a></p>
