<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<p>Current Book</p>
<p>Title: <%= @book.name %></p>

<p>Author: <a href="/authors/<%= @book.author.slug %>"> <%= @book.author.name %> </a></p>

<p>Subject(s):</p>
<% @book.subjects.each do |subject| %>
<div>
  <a href="/subjects/<%= subject.slug %>"><%= subject.name %> </a>
</div>
<% end %>


<br></br>
<p><a href='/books/:slug/edit'>Edit Book</a></p>
<p><a href='/books/:slug/delete'>Delete Book</a></p></br>
