<p>You have <%=@subject.books.count%> book(s) in <%= @subject.name %>
  by <%=@subject.authors.count%>
</p>

<% @subject.books.each do |book| %>
<li>
  <a href="/books<%=book.id%>"><%= book.name %></a>
</li>
  <% end %>

#add number of books, authors (number of work in this genre) for this subject,
