<h2><%= @subject.name%></h2>


<p>You have <%=@subject.books.count%> book(s) in <%= @subject.name %>
  by <%=@subject.authors.count%> authors
</p>

<% @subject.books.each do |book| %>
<li>
  <a href="/books/<%=book.id%>"><%= book.name %></a>
</li>
  <% end %>
<br></br>

<a href="/home">Home</a>
